@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.status {
  width: 100%;
}

#logTable {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

thead {
  border: 1px solid black;
}

#paginationContainer {
  margin-top: 1rem;

  display: flex;
  gap: 1rem;
}

#paginationContainer button {
  padding: 0.25rem
}